*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app > div{
  background: rgba(125, 51, 159, 10%);
  width: 85%;
  height: 70%;
  border-radius: 15px;
}

ul{
  list-style: none;
  display: flex;
}

#kanban{
  justify-content: space-evenly;
  height: 100%;
}
#kanban > li > button{
  background: rgba(66, 0, 255, 50%);
  width: 100%;
  height: 60px;
  font-size: 24px;
  border-radius: 29px;
  color: white;
  text-shadow: 0px 4px 4px #000;
  border: none;
  margin: 0 auto;
}

#kanban > li > button#btnCard:hover{
  cursor: pointer;
}

#kanban > li > div#criarCard{
  width: 250px;
}

#kanban > li > div{
  background: white;
  padding-top: 2%;
  height: 180px;
  width: 85%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 12px auto 0;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 2.5%);
  transition: box-shadow .5s;
}
#kanban > li > div:hover{
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 30%);
}

#kanban li:nth-child(1){
  padding-top: 1%;
}

#kanban li:not(:nth-child(1)){
  background: rgba(255, 221, 135, 50%);
  width: 20%;
  text-align: center;
}
#kanban li:not(:nth-child(1)) > span{
  margin-top: 5%;
  display: inline-block;
  background: white;
  font-size: 30px;
  width: 90%;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
}



#kanban > li > div.card > div.card-title > label,
#kanban > li > div > input{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: none;
  font-weight: bold;
  background: none;
}

#kanban > li > div.card > div.card-body,
#kanban > li > div > textarea{
  border: none;
  border-top: 1px solid #ceb77c;
  padding-top: 8px;
  width: 80%;
  margin: 0 auto;
  height: 96px;
  resize: none;
  background: rgba(0,0,0, 5%);
}

#kanban > li > div > input:focus,
#kanban > li > div > textarea:focus{
  outline: none;
}

#kanban > li > div.card > div.card-title > button,
#kanban > li > div.card > div.card-footer > button{
  background: #ffb800;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  border-radius: 50px;
  padding-top: 3px;
}
#kanban > li > div.card > div.card-title > button{
  margin-left: 10px;
}

#kanban > li > div.card > div.card-footer{
  padding-top: 2%;
  display: flex;
  justify-content: space-evenly;
}